li {
    border: 1px solid green;
    display: inline;
    width: 100px;
    /* will not work*/
    padding: 10px;
    /*space bet txt & li element*/
    margin: 20px;
    /*space bet elements*/
    text-align: center;




    /* we can use inline-block
    display:inline-block;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px; /* or padding : 0 5px 0 5px; */
}

div {
    border: 1px solid green;
    text-align: center;
    font-size: 24px;
}

span {
    border: 1px solid blue;
    width: 200 px;
    /* width will be ignored with inline elements, to solve the prob we use padding   */
}

/*to remove the line under the elements in a tag*/
a {
    text-decoration: none;
}


#container {
    position: relative;
    margin: 50px;
    padding: 10px;
    border: 2px solid purple;
}

.a {
    /* position: static;default */
    /* position: fixed; */
    /* position: relative; */
    position: absolute;
    left: 0px;
    top: 0px;
    /* width: 100%;
    background-color: purple; */

}

.b {
    position: static;
    left: 50px;
    top: 50px;

}

.c {
    display: block;
}

/* in css, elements are positioned in cretin ways  
- static : default
- fixed 
- relative
- absolute 
- absolute but change the container position to relative
*/