@import url('https://fonts.googleapis.com/css2?family=Righteous&family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&family=Righteous&family=The+Nautigal:wght@700&display=swap');

* {
    font-family: 'Righteous', cursive;
}

body {
    background-color: rgba(209, 193, 193, 1);
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;


}

header nav {
    float: right;
}

header div img {
    margin: 10px 0 10px 20px;
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}



header nav ul li {
    display: inline-block;
    padding: 20px 10px;
    font-size: 20px;
    /* background-color: blueviolet; to see the margin effect */
    margin-right: 100px;
    font-family: 'Righteous', cursive;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

main div h1 {
    padding: 30px;
    /* background-color: cadetblue; */
    color: blanchedalmond;
    font-size: 80px;
}


.container {
    background-image: url(https://wallpapercave.com/wp/wp4728101.jpg);

    margin-top: 55px;

    height: 400px;

    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */

}

#med-sec {
    display: flex;

}

#img-part {

    margin: 40px 100px;

}

#img-part img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}


#par-part {

    background-color: rgba(255, 168, 65, 1);
    width: 600px;
    height: 400px;
    margin: 40px 100px;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /*3D Effect*/


}

#par-part p {
    font-family: 'Ribeye Marrow', cursive;
    font-size: 35px;
    padding: 30px;
}

/* table */
#sub-title {
    margin: 20px 100px;
    font-size: 50px;

}

#Table-sec {
    background-color: rgba(255, 168, 65, 0.35);
    margin: 20px 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /*3D Effect*/

}

table {
    width: 100%;
    text-align: center;

}

th,
td {
    border: 1px solid black;

}

th {

    padding: 35px 20px;
}

td {
    padding: 15px;
}


/* form  */
#form-title {

    text-align: center;
    font-size: 50px;
}

#form {
    /* background-color: darkgreen; */
    margin: 50px 400px;
}

input[type=text],
select,
button {
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    /*to make its size fit to its container */
    border-radius: 4px;
    margin-top: 15px;
}

#date-inp {
    margin-top: 15px;
    display: flex;
}

input[type=date] {
    padding: 12px 20px;
    width: 50%;
    border-radius: 4px
}

button {
    background-color: rgba(205, 71, 42, 1);
    color: blanchedalmond;
}


/* footer */
body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: rgb(15, 15, 15);
    font-family: 'Righteous', cursive;
    padding: 10px;



}

#footer-logo img {
    margin-top: 20px;
    float: left;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#social-media {

    color: blanchedalmond;
    float: right;

}

#social-media p {
    margin: 0 20px 20px 0;
}

#copy-rights {

    color: blanchedalmond;
    margin-top: 25px;
    text-align: center;
}

/* i faced a problem of flowing footer, i solved it by :
1. add to the body :  display: flex; flex-direction: column;
2. give the footer margin-top:auto; */